* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background: #282D35;
    color: #E1E4E8;

}

header {
    height: 90px;
    background-color: #21222A;
    padding: 30px 25px;
}

nav {
    display: flex;
    align-items: center;
    height: 100%;
}

h1 {
  margin: 0;
  font-weight: 700;
  size: 2.4 rem;
  width: 424;
  height: 41;
  top: 148px;
  left: 27px;

}


main {
    padding: 60px 30px;
    background-image: url("/public/react-logo-half.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 75%;
}
   

.nav-logo {
    width: 40px;
    margin-right: 7px;
}

.nav-title {
  color: #61DAFB;
  font-size: 1.4rem;
  font-weight: 700;
}

.facts-list {
    margin-top: 46px;
    /* max-width: 400px; */
}

.facts-list > li {
    padding-block: 10px;
    line-height: 19px;
}

.facts-list > li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}